.display {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.hours {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.minutes {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.seconds {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.miliseconds {
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.start {
    display: block;
}

.stop {
    display: none;
}

.reset {
    display: none;
}

.save {
    display: none;
}

.reverse {
    display: none;
}

.spisok {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}